[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
ipykernel = "*"
google-cloud-bigquery = "*"
google-cloud-storage = "*"
dg-ml-core = {file = "https://storage.googleapis.com/dg-ml-packages/dg_ml_core.tar.gz"}
seaborn = "*"
sklearn = "*"

[requires]
python_version = "3.7"
